:host {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  fill: currentColor;
  aspect-ratio: 1;
  width: 24px;
}
::slotted {
  width: 100%;
  height: 100%;
}
