<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button · Material-Me Component Demo</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <style></style>
    <script type="module">
      import '../../dist/components/page.js';
      import '../../dist/components/button.js';
    </script>
  </head>
  <body>
    <mm-page id="root" theme="auto">
      <main>
        <h1>Button</h1>
        <section>
          <mm-button> Filled button </mm-button>
          <mm-button type="elevated"> Elevated button </mm-button>
          <mm-button type="filled-tonal"> Tonal button </mm-button>
          <mm-button type="outlined"> Outlined button </mm-button>
          <mm-button type="text"> Text button </mm-button>
        </section>
      </main>
    </mm-page>
  </body>
</html>
