<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button · Material-Me Component Demo</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <style></style>
    <script type="module">
      import '../../dist/components/page.js';
      import '../../dist/components/button.js';
      import '../../dist/components/icon.js';
    </script>
  </head>
  <body>
    <mm-page id="root" theme="auto">
      <main>
        <h1>Button</h1>
        <section>
          <mm-button> Filled button </mm-button>
          <mm-button type="elevated"> Elevated button </mm-button>
          <mm-button type="filled-tonal"> Tonal button </mm-button>
          <mm-button type="outlined"> Outlined button </mm-button>
          <mm-button type="text"> Text button </mm-button>
        </section>
        <section>
          <mm-button>
            <mm-icon slot="start" title="Search">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                  d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
              </svg>
            </mm-icon>
            With icon in slot
            <mm-icon slot="end" title="Close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
              </svg>
            </mm-icon>
          </mm-button>
        </section>
      </main>
    </mm-page>
  </body>
</html>
