<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icon · Material-Me Component Demo</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <style>
      #icon-size-1 {
        width: 16px;
      }
      #icon-size-2 {
        width: 24px;
      }
      #icon-size-3 {
        width: 48px;
      }
      #icon-size-4 {
        width: 64px;
      }
      #icon-size-5 {
        width: 96px;
      }
      #icon-color-1 {
        color: rgb(var(--mm-color-primary));
      }
      #icon-color-2 {
        color: rgb(var(--mm-color-secondary));
      }
      #icon-color-3 {
        color: rgb(var(--mm-color-tertiary));
      }
      #icon-color-4 {
        color: rgb(var(--mm-color-error));
      }
      #icon-color-5 {
        color: #71db99;
      }
    </style>
    <script type="module">
      import '../../dist/components/page.js';
      import '../../dist/components/icon.js';
    </script>
  </head>
  <body>
    <mm-page id="root" theme="auto">
      <main>
        <h1>Icon</h1>
        <section>// Get icons from https://fonts.google.com/icons</section>
        <section>
          <mm-icon title="Search">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg>
          </mm-icon>
          <mm-icon title="Home">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
            </svg>
          </mm-icon>
          <mm-icon title="Menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
            </svg>
          </mm-icon>
          <mm-icon title="Close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg>
          </mm-icon>
        </section>
        <section>
          <p>With custom size</p>
          <mm-icon id="icon-size-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-size-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-size-3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-size-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-size-5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
        </section>
        <section>
          <p>With custom color</p>
          <mm-icon id="icon-color-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-color-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-color-3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-color-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
          <mm-icon id="icon-color-5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
            </svg>
          </mm-icon>
        </section>
      </main>
    </mm-page>
  </body>
</html>
