<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icon Button · Material-Me Component Demo</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <style></style>
    <script type="module">
      import '../../dist/components/page.js';
      import '../../dist/components/icon-button.js';
      import '../../dist/components/icon.js';
    </script>
  </head>
  <body>
    <mm-page id="root" theme="auto">
      <main>
        <h1>Icon Button</h1>
        <section>
          <mm-icon-button>
            <mm-icon>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
            </mm-icon>
          </mm-icon-button>
          <mm-icon-button type="filled"
            ><mm-icon>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg> </mm-icon
          ></mm-icon-button>
          <mm-icon-button type="filled-tonal"
            ><mm-icon>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg> </mm-icon
          ></mm-icon-button>
          <mm-icon-button type="outlined"
            ><mm-icon>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg> </mm-icon
          ></mm-icon-button>
        </section>
      </main>
    </mm-page>
  </body>
</html>
